WS_SERVER_URL=ws://localhost:8080
SHOULD_PREDICT=true
REDIS_HOST=localhost
REDIS_PORT=6379
CAMERA_FRAME_KEY=camera:latest
CAMERA_SOURCE=0
CAMERA_WIDTH=1280
CAMERA_HEIGHT=720
CAMERA_FPS=15
MODEL_NAME=yolo11n.pt
PREDICTION_EVERY_N_FRAMES=5
